/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */

/*************************/ /*************************/

/*                  Font                  */
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}


/************************* start of css *************************/
*, html, body {
  margin: 0 auto;
}
body {/* use the custom font like any other font */
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
/*  background-color: lightgrey;*/
}


/********** ********** header and navbar ********** **********/
header {
/*  width: 100%;*/
  text-align: center; /* centers the navbar (both are needed; don't delete)*/
  background-color: black;
}
nav {
/*  background-color: blue;*/
  max-width: 1100px;
  margin: 0 auto;  /* centers navbar icons (both are needed; don't delete) */
}
nav li {
  display: inline-block;
  width: 10%;
  list-style: none;
}
li.nav-icons a:hover {
  color: yellow;
}


/********** ********** hero ********** **********/
/***** hero text *****/
h1 {
  font-size: 50px;
  font-weight: 700;
  padding-top: 50px;
  margin-bottom: 30px;
}
h2 {
  font-size: 27px;
  margin-bottom: 30px;
}
div > h1, div > h2 {
  margin-bottom: 13px;
}
#hero_text {
  text-align: center;
  margin-bottom: 20px;
}
span.hero_links {
  font-size: 24px;
  font-weight: 300;
}
span.hero_links a {
  text-decoration: none;
  color: #08c;
}
span.hero_links a:hover {
  color: black;
  text-decoration: underline;
}
span > a {
  padding-right: 10px;
}
/***** hero image *****/
#hero_div {
  height:  600px;
  background: url("images/hero_iphone_13pro.jpg");
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}


/********** ********** sub hero ********** **********/
#sub_hero_div {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}
.col-3{
  display: inline-block;
  width: 25%;
  padding-left: 2px;
  padding-right: 2px;
  height: 200px;
  background-size: cover;
}
 
#watch_sub-hero_image {
  background: url("images/watch_large.jpg");
}
#ipad_sub-hero_image {
  background: url("images/ipad_pro_large.jpg");
}
#accessories_sub-hero_image {
  background: url("images/accessories_large.jpg");
}
#macbook_sub-hero_image {
  background: url("images/macbook_large.jpg");
}
/***** AC wall plug *****/
#ac_wall_plug_div {
  text-align: center;
  margin:  25px auto;
}
#ac_wall_plug {
  text-decoration: none;
  color: #08c;
  font-size: 19px;
}

/********** ********** footer ********** ***********/
footer {
  background-color: #e7e7e7;
  padding-bottom: 35px;
  font-size: 14px;
}
footer a {
  text-decoration: none;
}
#footer_container {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 20px;
}
.footer_column {
  display: inline-block;
  width: 19%;
}
.footer_heading {
  font-weight: bold;
}
/********** ********** media queries ********** **********/
